<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type ="text/css" href = "{{url_for('static',filename='css/style.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Patient Connect</title>
  </head>
  <body class="bg-nav">
      <nav class = "navbar">
          <a href="" class="navbar-brand text-light">
            Patient Connect
        </a>
      </nav>
      <div class="container">
          <div class="mx-auto" style="width: 500px">
            <h2 class="text-light display-4 mt-100" style="font-size:80px">About</h1>
            <br/>
            <p class="text-light"> PatientConnect is a healthcare management tool that doctors and hospital staff members can use to make the most out of their resources to cater for patients.</p>
            
            <h2 class="text-light display-4 mt-135" style="font-size:80px">Why use it?</h1>
            <br/>
            <ul class="text-light">
                <li>Length of Stay Prediction</li>
                <li>Simple & Clean UI</li>
                <li>Boost Hospital Efficiency</li>
            </ul>
            <h2 class="text-light display-4 mt-135" style="font-size:80px">Who is it for?</h1>
            <br/>
            <p class="text-light">It is mainly targeted at <b>doctors</b> or <b>healthcare workers</b> responsible for booking rooms for patients based on their condition and needs.</p>
        </div>
        <div>

        </div>
        </div>
      </body>
      </html>
