{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- *** TITLE ***  -->
<div class="mx-auto my-5" style="width: 500px;">
  <h1> Upcoming Appointments </h1>
</div>

<!-- *** PATIENT CARDS -->
<div class="row px-4 mx-4 md-n5">
  <div class="col px-2 md-3">
    <div class="card mb-3 border-dark" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/static/patient1.PNG" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jessie Wilson, 27, They</h5>
            <p class="card-text"> Friday, 10/28/20 @ 3:30PM </p>
            <p class="card-text"> Symptoms: Coughing blood </p>
            <p class="card-text"> Allergies: Nuts, eggs </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary btn-sm">More details</button>
          </div>
        </div>
    </div>
    </div>
  </div>
  <div class="col px-2 md-3">
    <div class="card mb-3 border-info" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/static/patient2.PNG" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Iris Jones, 22, She</h5>
            <p class="card-text"> Tuesday, 10/4/20 @ 5PM </p>
            <p class="card-text"> Symptoms: Coughing blood </p>
            <p class="card-text"> Allergies: Nuts, eggs </p>
            <p class="card-text"><small class="text-muted">Last updated 50 mins ago</small></p>
            <button type="button" class="btn btn-primary btn-sm">More details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col px-2 md-3">
    <div class="card mb-3 border-dark" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="/static/patient3.PNG" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Jean Joseph, 48, He</h5>
            <p class="card-text"> Monday, 12/10/20 @ 1PM </p>
            <p class="card-text"> Symptoms: Sneezing </p>
            <p class="card-text"> Allergies: None </p>
            <p class="card-text"><small class="text-muted">Last updated 1 hour ago</small></p>
            <button type="button" class="btn btn-primary btn-sm">More details</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- end of row -->
</div>

{% endblock %}
