{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
  content %}
  <!-- *** TITLE ***  -->
  <div class="mx-auto my-5" style="width: 500px">
    <h1><u>Upcoming Appointments</u></h1>
  </div>
  
  <!-- *** PATIENT CARDS -->
  <div class="row px-4 mx-4 md-n5">
    <div class="col px-2 md-3">
      <div class="card mb-3">
        <div class="row no-gutters" style="align-items: center">
          {% for i in range(length0) %}
          <!-- <li> -->
          <!-- <div class="col-md-4">
            <img src="/static/patient1.PNG" class="card-img" alt="...">
          </div> -->
          <div class="col-md-3" style="border: 1px solid lightgrey">
            <img
              src="/static/patient1.PNG"
              class="card-img"
              alt="img"
              width="10px"
              height="160px"
            />
            <div class="card-body" style="padding-left: 2rem">
              <h5 class="card-title" style="text-align: center">
                {{(value[i]['fname'])}}
              </h5>
              <p class="card-text">{{(value[i]['gen'])}}</p>
              <p class="card-text">{{(value[i]['e_id'])}}</p>
              <p class="card-text">{{(value[i]['s_day'])}}</p>
              <p class="card-text">Symptoms:{{(value[i]['notes'])}}</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <button type="button" class="btn btn-primary btn-sm">More details</button> -->
            </div>
          </div>
          <!-- </li> -->
          {% endfor %}

    </div>
    <!-- end of row -->
  </div>
 
  {% endblock %}
