{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
  content %}
  <!-- *** TITLE ***  -->
  <div class="mx-auto my-5" style="width: 500px">
    <h1><u>Upcoming Appointments</u></h1>
  </div>
  
  <!-- *** PATIENT CARDS -->
  <div class="row px-4 mx-4 md-n5">
    <div class="col px-2 md-3">
      <div class="card mb-3">
        <div class="row no-gutters" style="align-items: center">
          {% for i in range(length0) %}
          <!-- <li> -->
          <!-- <div class="col-md-4">
            <img src="/static/patient1.PNG" class="card-img" alt="...">
          </div> -->
          <div class="col-md-3" style="border: 1px solid lightgrey">
            {% if value[i]['gen'] == "Female" %}
              <img
                src="/static/girl2.png"
                class="card-img"
                alt="img"
                width="10px"
                height="460px"
              />
              {% elif value[i]['gen'] == "Male" %}
                <img
                src="/static/boy2.png"
                class="card-img"
                alt="img"
                width="10px"
                height="460px"
              />
              {% else %}
              <img
              src="/static/trans.png"
              class="card-img"
              alt="img"
              width="10px"
              height="460px"
            />
              {% endif %}
          
            <div class="card-body m-4">
              <h5 class="card-title mx-auto" style="text-align: center">
                {{(value[i]['fname'])}} {{(value[i]['lname'])}}, {{(value[i]['gen'])}}
              </h5>
              <p class="card-text"><b>Email: </b> {{(value[i]['e_id'])}}</p>
              <p class="card-text"><b>Start Day: </b> {{(value[i]['s_day'])}}</p>
              <p class="card-text"><b>End Day: </b> {{(value[i]['e_day'])}}</p>
              <p class="card-text"><b>Symptoms: </b> {{(value[i]['notes'])}}</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <button type="button" class="btn btn-primary btn-sm">More details</button> -->
            </div>
          </div>
          <!-- </li> -->
          {% endfor %}

    </div>
    <!-- end of row -->
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#" value = "1">1</a></li>
      <li class="page-item"><a class="page-link" href="#" value = "2">2</a></li>
      <li class="page-item"><a class="page-link" href="#" value = "3">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>

      $.post 
      </li>
    </ul>
  </nav>
 
  {% endblock %}
