 

<!-- <link href='static/assets/css/fullcalendar.css' rel='stylesheet' />
<link href='static/assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='static/assets/js/jquery-1.10.2.js' type="text/javascript"></script>
<script src='static/assets/js/jquery-ui.custom.min.js' type="text/javascript"></script>
<script src='static/assets/js/fullcalendar.js' type="text/javascript"></script> -->

<html>
    <head>
         <script type="text/javascript">
            console.log("-------\n", username)

            // var username = JSON.parse('{{ data | tojson }}'); 
            console.log("-------\n", username)
        </script>
    </head>
</html>